@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&family=Saira+Semi+Condensed:wght@100&display=swap');

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
    
}

body {
    display: grid;
    /* background : linear-gradient(#91a768,#377771); */
    
    background:#254642;
    align-self: center;
    justify-content: center;

    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    font-family: 'Saira Condensed', sans-serif;

    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }  


div.logo {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-content: center;
    z-index: var(--i);

    
}
img.logo {
    
    width: 250px;
    height: auto;
    transform: skewY(-15deg);
    transform-origin: right;
    z-index: var(--i);
    
    
}

div.nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-start: 2;
    grid-column-end: 1;
    position: fixed;
    z-index: 2;

    height: 100vh;
    width: 250px;
    background-color: #2a5856;

    animation: float 3s ease-in-out infinite;
    

}

ul {
    
    position: fixed;
    margin-left: 45px;
    padding-top: 10px;
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    transform: skewY(-15deg);
    
}
ul li {
    position: relative;
    list-style: none;
    width: 200px;
    background-color: #4b9ba1;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover {
    background: rebeccapurple;
    transform: translateX(50px);
}

ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2a4a50;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #3eaca6;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li a {
    text-decoration: none;
    color: #012d78;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a {
    color: #fff;
}

div.content{
    
    background : radial-gradient(#91a768,#377771);
    z-index: 1;
    grid-row-start: 2;
    margin: 10px;
    display: grid;
    font-size: 55px;
    color: #fff;
    align-self: center;
    grid-column-start: 3;

    
    border-radius: 10px;
    border: transparent;
    /* background: linear-gradient(#377771,#91a768); */
    
    animation: float 3s ease-in-out infinite;
}

p {
    grid-column-start: 2;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

a.eldenring {
    
    z-index: var(--i);
    overflow: hidden;
    margin: 40px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-row-start: 2;
    transition: all 0.5s ease;
    position: relative;
    align-self: center;
    
    animation: float 3s ease-in-out infinite;
    
    

}

a.eldenring:hover {
    animation-play-state: paused; 
}

 
img.eldenring {
    
    z-index: var(--i);
    width: 200px;
    height: auto;
    
    border-radius: 10px;
    border: transparent;
    background: linear-gradient(#377771,#91a768);
}

img.haloinfinite {
    width: 200px;
    height: auto;

    padding: 10px;

    border-radius: 10px;
    border: transparent;
    background: linear-gradient(#377771,#91a768);

}

a.haloinfinite {
    
    z-index: var(--i);
    margin: 40px;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 200px;
    height: auto;


    border-radius: 10px;
    border: transparent;

    transition: all 0.5s ease;
    position: relative;
    align-self: center;

    animation: float 3s ease-in-out infinite;
}

a.haloinfinite:hover {
    animation-play-state: paused; 
}

a.haloinfinite:hover {
    transform: translateY(15px);
    
}


img.nomanssky {
    width: 200px;
    height: auto;

    padding: 10px;

    border-radius: 10px;
    border: transparent;
    background: linear-gradient(#377771,#91a768);

}

a.nomanssky {
    z-index: var(--i);
    margin: 40px;
    grid-column-start: 3;
    grid-row-start: 2;
    width: 200px;
    height: auto;


    border-radius: 10px;
    border: transparent;

    transition: all 0.5s ease;
    position: relative;
    align-self: center;

    animation: float 3s ease-in-out infinite;
}

a.nomanssky:hover {
    animation-play-state: paused; 
}

a.nomanssky:hover {
    transform: translateY(15px);
    
}

img.finalfantasyxiv {
    width: 250px;
    height: auto;

    padding: 10px;

    border-radius: 10px;
    border: transparent;
    background: linear-gradient(#377771,#91a768);

}

a.finalfantasyxiv {
    z-index: var(--i);
    margin: 40px;
    grid-column-start: 1;
    grid-row-start: 3;
    width: 250px;
    height: auto;


    border-radius: 10px;
    border: transparent;

    transition: all 0.5s ease;
    position: relative;
    align-self: center;

    animation: float 3s ease-in-out infinite;
}

a.finalfantasyxiv:hover {
    animation-play-state: paused; 
}

a.finalfantasyxiv:hover {
    transform: translateY(15px);
    
}

img.reddeadredemption2 {
    width: 250px;
    height: auto;

    padding: 10px;

    border-radius: 10px;
    border: transparent;
    background: linear-gradient(#377771,#91a768);

}

a.redddeadredemption2 {
    z-index: var(--i);
    margin: 40px;
    grid-column-start: 3;
    grid-row-start: 3;
    width: 250px;
    height: auto;


    border-radius: 10px;
    border: transparent;

    transition: all 0.5s ease;
    position: relative;
    align-self: center;

    animation: float 3s ease-in-out infinite;
}

a.redddeadredemption2:hover {
    animation-play-state: paused; 
}

a.redddeadredemption2:hover {
    transform: translateY(15px);
    
}

img.asassinscreedval {
    width: 250px;
    height: auto;

    padding: 10px;

    border-radius: 10px;
    border: transparent;
    background: linear-gradient(#377771,#91a768);

}

a.asassinscreedval {
    z-index: var(--i);
    margin: 40px;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 250px;
    height: auto;


    border-radius: 10px;
    border: transparent;

    transition: all 0.5s ease;
    position: relative;
    align-self: center;

    animation: float 3s ease-in-out infinite;
}

a.asassinscreedval:hover {
    animation-play-state: paused; 
}

a.asassinscreedval:hover {
    transform: translateY(15px);
    
}

.footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ed6a5e;
  color: white;
  text-align: center;
  padding: 15px;
  z-index: 3;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 95%; 
    }
  }